.noproducts__title{
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #6d6d6d;
}
.noproducts{
  display: flex;
  flex-flow: column;
  align-items: center;
  display: none;
}
.haveproducts {
  width: 100%;
  display: flex;
}
.left__nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 16px 17px;
  align-items: center;
  letter-spacing: 0.7575px;
  font-size: 12px;
  text-transform: uppercase;
  color: #6d6d6d;
  height: 48px;
  width: 197px;
  background: #f6f6f6;
}
.left__nav_active {
  background: #efefef;
  color: #bc943b;
}
.left__nav:hover {
  background: #efefef;
  color: #bc943b;
}
.haveproducts__right {
  padding: 0 0 0 30px;
  width: 100%;
}
.right__productinfo {
  width: 100%;
  padding-bottom: 32px;
  border-bottom: 1px solid #d7d4d4;
  margin-bottom: 30px;
}
.productinfo__title {
   font-size: 24px;
   color: #333333;
   margin-bottom: 30px;
}
.productinfo {
  width: 100%;
}
.productinfo__description {
  display: flex;
  width: 100%;
}
.productinfo__description__right {
  display: flex;
  padding: 16px 15px 0px 20px;
  justify-content: space-between;
  width: calc(100% - 104px);
  background: #f6f6f6;
  height: 140px;
}
.productinfo__brand {
  font-size: 24px;
  color: #333;
  margin-bottom: 11px;
}
.productinfo__price {
  font-size: 16px;
  color: #333;
}
.productinfo__button {
  width: 160px;
  height: 32px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.7575px;
  text-transform: uppercase;
  outline: none;
  border-radius: 24px;
  background-color: #fff;
}
.productinfo__delete {
  margin-top: 16px;
}
.productinfo__edit {
  margin-top: 15px;
}
.noproductinfo__description {
  font-size: 16px;
  color: #333;
  display: none;
}
.nopassmod {
  font-size: 16px;
  color: #e40000;
  margin-top: 8px;
  display: none;
}
.noproductinfo__description_sold {
  display: block;
}
.productinfo_sold {
  display: none;
}
.productinfo_active {
  display: none;
}
.noproductinfo__description_active {
  display: block;
}
